
    {% extends 'aplicacion/base.html' %}
    {% block titulo %} Inicio {% endblock %}
    {% block contenido %}

   
    <!-- Contenido Principal-->
    <section class="animated col-lg-5 main container fadeInUp" class="col-lg-5 main container">
            <hr>
                <div align="center" class="row">
                    <h2><b>DECLARACION DE LA VISION DEL PRODUCTO</b></h2>
                </div>

                <p><b>Para</b> los  docentes  coordinadores  de  asignaturas  de  FIA -EISI  (Facultad  de  Ingeniería  y Arquitectura  –  Escuela  de Ingeniería  de  Sistemas  Informáticos)  y  el  administrador  de  la laboratorios de centro de cómputo de la Universidad de El Salvador.</p>
         
                <p><b>Quienes</b> quieren acceso con capacidad en línea a la administración de laboratorios de FIAEISI, para solicitar reserva  de laboratorio para actividades académicas de la  materia que coordinan.</p>
    
                <p><b>La</b> página web Laboratorios-EISI.</p>
      
                <p><b>Es una</b> página web adaptable que puede ser accedida desde cualquier dispositivo que tenga conexión a internet.</p>
       
                <p><b>Que</b> permite  a  los  docentes  coordinadores  de  asignaturas  de  FIA-EISI  solicitar  reservas, recibir la respuesta a dichas solicitudes, durante los 7 días de la semana, las 24 horas del día.</p>
      
                <p><b>A diferencia</b> del mecanismo tradicional de reserva de laboratorios en el cual se realiza algún tipo de papeleo para poder entregárselo al encargado u oficina de recibir esas solicitudes.</p>
           
                <p><b>Nuestro producto</b> permite a los usuarios interesados acceso en tiempo real, las 24 horas del día siempre que se cuente con servicio de internet. Brindando además una perspectiva de si está o no reservado el laboratorio que se desea solicitar en la fecha escogida. También posee un entorno amigable para el usuario, que incluirá todo el ciclo que conlleva reservar un laboratorio, es decir, desde la solicitud hasta la respuesta (aprobada o denegada).Logrando así agilizar el proceso de reserva y administración de laboratorios de FIA-EISI de la Universidad de El Salvador, permitiendo que los usuarios interesados puedan conocer los horarios disponibles y solicitar el que  más les convenga, recibiendo la  respuesta en este mismo  entorno.  Orientando  de  esta  forma  a  la  EISI  hacia  la  sistematización  de  la información.</p>

            <hr>
    		
    </section>

    <!-- Contenido Secundario-->
    <section class="animated col-lg-3 main container fadeInRight" class="col-lg-3 main container">
            <hr>
            <h3><b>EQUIPO SCRUM GRUPO # 04</b></h3>
            <p>ARAYA MOTTO DARIO ROMAN AM11098</p>
            <p>SEGOVIA ROMERO RODRIGO DANIEL SR11038</p>
            <p>BAUTISTA JONATHAN ALEXANDER BB11003</p>
            <p>DUARTE TORRES JOSSELYN FABIOLA DT11002</p>
            <p>ROGEL LOPEZ JHONY WILLIAM LL08027</p>
    </section>
    <section class="">
    
    </section>
    

       


{% endblock %}